= render partial: "rapidfire/answers/errors", locals: {answer: answer}
= f.label :answer_text, answer.question.question_text
= f.fields_for :answer_text do |af|
  - answer.question.options.each do |option|
    = af.label option do
      = af.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option
      = option
