.container style="margin-top:60px;"
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-success
        .panel-heading
          | Edit #{resource_name.to_s.humanize}
        .panel-body
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
            = f.error_notification
            = display_base_errors resource
            = f.input :name, :autofocus => true
            = f.input :email, :required => true
            = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
            = f.input :password_confirmation, :required => false
            = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
            = f.button :submit, 'Update', :class => 'btn-primary'
          h3 Cancel my account
          p
            | Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
          = link_to "Back", :back
