.container style="margin-top:60px;"
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-success
        .panel-heading
          | Sign up
        .panel-body
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
            = f.error_notification
            = display_base_errors resource
            = f.input :name, :autofocus => true
            = f.input :email, :required => true
            = f.input :password, :required => true
            = f.input :password_confirmation, :required => true
            = f.button :submit, 'Sign up', :class => 'btn-primary'
          = render "devise/shared/links"
