= form_for([@question_group, @answer_group_builder]) do |f|
  #intro-pane.survey
    header.prime
      =link_to "http://instadium.com/", rel: "nofollow", target: "_blank", class: "logo", title: "InStadium - Live Sports Video Network"
        =image_tag "tv-logo.png", alt: "InStadium - Live Sports Video Network"
    -if @trivia_config and @trivia_config.presented_image
      .presented
        p Presented by
        =image_tag @trivia_config.presented_image
    main[role="main"]
      p.lead
        | Thank you for watching InStadiumTV! Please take a moment to complete this brief survey.
      
  - @answer_group_builder.answers.each_with_index do |answer, index|
    .pane id="pane-#{index+1}" number=index+1
      .box class="multiplechoice"
        .question
          span.count #{index+1}
          p
            | #{answer.question.question_text}
        .answer
          .radio
            = f.fields_for("#{answer.question.id}", answer) do |answer_form|
              = render_answer_form_helper(answer, answer_form)
        -if index > 0
          =link_to "Back to Previous Question", "javascript:void(0)", class: "previous", title: "Back to Previous Question"

  .pane.submit-pane id="pane-#{@answer_group_builder.answers.count + 1}" submitpane=true
    .box.boolean
      .question
        h2 THANK YOU FOR TAKING THE SURVEY
        p Hit submit to send through your answers.
      .answer
        input.btn value="Submit Answers" type="submit"
