h3
  | Question
= form_for [@question_group, question] do |f|
  - unless question.errors.empty?
    ul
      - question.errors.full_messages.each do |message|
        li
          = message
  .form-inputs
    .form-group
      = f.label :type
      = f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type"
    .form-group
      = f.label :question_text
      = f.text_field :question_text
    .form-group
      = f.label :answer_options
      = f.text_area :answer_options, rows: 5
  h4
    | Other options
  hr
  .form-inputs
    .form-group
      = f.label :answer_presence
      = f.check_box :answer_presence
    .form-group
      = f.label :answer_minimum_length
      = f.text_field :answer_minimum_length
    .form-group
      = f.label :answer_maximum_length
      = f.text_field :answer_maximum_length
    .form-group
      = f.label :answer_greater_than_or_equal_to
      = f.text_field :answer_greater_than_or_equal_to
    .form-group
      = f.label :answer_less_than_or_equal_to
      = f.text_field :answer_less_than_or_equal_to
    .form-group
      = f.submit
