tr id="question_#{question.id}"
  td
    = question.question_text
  td
    ul.horizontal-list
      li
        = link_to "Edit", [:edit, question.question_group, question]
      li
        = link_to "Delete", [question.question_group, question], method: :delete
