= simple_form_for(@result) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ip
    = f.input :url
    = f.input :right_answers
    = f.input :started_at
    = f.input :finished_at
    = f.input :score

  .form-actions
    = f.button :submit
