.panel.panel-success
  .panel-heading
    | Results
  .panel-body
    table.table.table-striped
      thead
        tr
          th Ip
          th Id
          th Originator
          th Source
          th Url
          th Right answers
          /th Started at
          /th Finished at
          th Score
          th
          th

      tbody
        - @results.each do |result|
          tr
            td = result.ip
            td = result.user_code
            td = result.originator_code
            td = result.source
            td = result.url
            td = result.right_answers
            /td = result.started_at
            /td = result.finished_at
            td = result.score
            td = link_to 'Show', admin_result_path(result) , :class=>"btn btn-default btn-sm"
            /td = link_to 'Edit', edit_result_path(result)
            td = link_to 'Destroy', admin_result_path(result), data: {:confirm => 'Are you sure?'}, 
              :method => :delete, :class=>"btn btn-danger btn-sm"

    br

    /= link_to 'New Result', new_result_path, :class=>"btn "
