
.panel.panel-success
  .panel-heading
    | Result info:
  .panel-body
    p#notice = notice

    p
      strong Ip: 
      = @result.ip
    p
      strong User code: 
      = @result.user_code
    p
      strong Originator: 
      = @result.originator_code
    p
      strong Source: 
      = @result.source
    p
      strong Right answers: 
      = @result.right_answers
    p
      strong Started at: 
      = @result.started_at
    p
      strong Finished at: 
      = @result.finished_at
    p
      strong Score: 
      = @result.score

    /= link_to 'Edit', edit_result_path(@result)
    /'|
  .panel-footer
    = link_to 'Back', admin_results_path, :class=>"btn btn-default btn-sm"
