.results-pane
  .box.results 
    -if @trivia_config and @trivia_config.ad_image and (@trivia_config.ad_image.url != "/default.png")
      .ad.coke
        =image_tag @trivia_config.ad_image, class: "img-responsive"
    .question
      span.trophy
      p 
        strong Congratulations

      span.share 
        | You Scored 
        strong #{@right_count} out of #{@count}
    .answer
      p
        =@message
      ul.social
        li
          =link_to "Facebook", "https://www.facebook.com/sharer/sharer.php?u=https://walmart.encore.io/?user_code=#{request.session_options[:id]}&source=facebook", title: "Facebook", class: "fb", target: "_blank"
        li
          =link_to "Twitter", "https://twitter.com/home?status=#{@share_message}&user_code=#{request.session_options[:id]}&source=twitter", title: "Twitter", class: "tw", target: "_blank"
        li
          =link_to "SMS", "#", title: "SMS", class: "sms", url: params[:url]
    =link_to "Thanks for Playing!", "#", class: "previous", title: "Back to Previous Question"
    -if @next_trivia
      =link_to 'Play Again', url_for(action: :index, url: @next_trivia.url), class: "play-again-btn"
