#intro-pane
  header.prime
    =link_to "http://instadium.com/", rel: "nofollow", target: "_blank", class: "logo", title: "InStadium - Live Sports Video Network"
      =image_tag "instadium-logo.png", alt: "InStadium - Live Sports Video Network"
  main[role="main"]
		p.lead
			|	Below you'll find 
			strong 10 questions 
			| designed to test your knowledge of sports and pop culture.
		.call-to-act
			p.help
				| Ready to Begin? 
				span
					|	Press 
					strong Play 
					| to get started.
			=link_to "Play", "javascript:void(0)", class: "btn", title: "Play"
#pane-1.pane
	.box.boolean
		.question
			span.count 1
			h2 True or False
			p
				|	The average life span of an MLB baseball is 5 to 7 pitches?
		.answer
			.radio
				input type="radio"  name="optionsRadios" id="bool3" value="bool3"
				label for="bool3"
					| True
				input type="radio"  name="optionsRadios" id="bool4" value="bool4"
				label for="bool4"	
					|	False
		=link_to "Back to Previous Question", "javascript:void(0)", class: "previous", title: "Back to Previous Question"
#pane-2.pane
	.box.multiplechoice
		.question
			span.count 2
			p
				|	What is the only American city with 3 sports teams that wear the same colors?
		.answer
			form
				.radio
					input type="radio"  name="optionsRadios" id="optionsRadios1" value="option1"
					label for="optionsRadios1"
						| Pittsburgh
				.radio
					input type="radio"  name="optionsRadios" id="optionsRadios2" value="option2"
					label for="optionsRadios2"
						|	Denver
				.radio
					input type="radio"  name="optionsRadios" id="optionsRadios4" value="option4"
					label for="optionsRadios4"
						| Atlanta
				.radio	
					input type="radio"  name="optionsRadios" id="optionsRadios4" value="option4"
					label for="optionsRadios4"
						|	Indianapolis
		=link_to "Back to Previous Question", "javascript:void(0)", class: "previous", title: "Back to Previous Question"
#pane-3.pane
	.box.boolean
		.question
			span.count 3
			h2 True or False
			p
				|	The average life span of an MLB baseball is 5 to 7 pitches?
		.answer
			form
				.radio
					input type="radio"  name="optionsRadios" id="bool1" value="bool3"
					label for="bool1"
						| True
					input type="radio"  name="optionsRadios" id="bool2" value="bool4"
					label for="bool2"	
						|	False
		=link_to "Back to Previous Question", "javascript:void(0)", class: "previous", title: "Back to Previous Question"

#pane-4.pane.submit-pane
	.box.boolean
		.question
			h2 Thank you for Playing
  			p Hit submit to send through your answers to see your result!
		.answer
			=link_to "Submit Answers", "javascript:void(0)", class: "btn", title: "Submit Answers"