=form_tag 'answers', method: :post do
  =hidden_field_tag 'url', params[:url]
  =hidden_field_tag 'started_at', Time.now
  
  #intro-pane
    header.prime
      =link_to "http://instadium.com/", rel: "nofollow", target: "_blank", class: "logo", title: "InStadium - Live Sports Video Network"
        =image_tag "instadium-logo.png", alt: "InStadium - Live Sports Video Network"
    -if @trivia_config and @trivia_config.presented_image and (@trivia_config.presented_image.url != "/default.png")
      .presented
        p Presented by
        =image_tag @trivia_config.presented_image
    main[role="main"]
      p.lead
        | Below you'll find 
        strong #{@trivia.count} questions 
        | designed to test your knowledge of sports and pop culture.
      .call-to-act
        p.help
          | Ready to Begin? 
          span
            | Press 
            strong Play 
            | to get started.
        =link_to "Play", "javascript:void(0)", class: "btn", title: "Play"
        
  -@trivia.each do |trivium|
    .pane id="pane-#{trivium.question_number}" number=trivium.question_number
      .box class="#{(trivium.answers.first != "True") ? 'multiplechoice' : 'boolean'}"
        .question
          span.count #{trivium.question_number}
          -if trivium.answers.count <= 2 && trivium.answers.first == "True"
            h2 True or False
          p
            | #{trivium.question}
        .answer
          .radio
            -trivium.answers.each do |answer|
              input type="radio"  name="answer[#{trivium.question_number}]" id="#{answer}-#{trivium.question_number}" value="#{answer}" 
              label for="#{answer}-#{trivium.question_number}"
                | #{answer}
        =link_to "Back to Previous Question", "javascript:void(0)", class: "previous", title: "Back to Previous Question"

  .pane.submit-pane id="pane-#{@trivia.count + 1}" submitpane=true
    .box.boolean
      .question
        h2 Thank you for Playing
        p Hit submit to send through your answers to see your result!
      -if @trivia_config and @trivia_config.presented_image and (@trivia_config.presented_image.url != "/default.png")
        .presented
          p Presented by
          =image_tag @trivia_config.presented_image
      .answer
        input.btn value="Submit Answers" type="submit"
