/ h2 Sign in
/ = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
/   = f.input :email, :autofocus => true
/   = f.input :password
/   = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
/   = f.button :submit, "Sign in", :class => 'btn-primary'
/ = render "devise/shared/links"

.container style="margin-top:60px;"
  .row
    .col-md-6.col-md-offset-3
      .authform
        .panel.panel-success
          .panel-heading
            | Sign in
          .panel-body
            = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
              = devise_error_messages!
              .form-group
                - if devise_mapping.registerable?
                  = link_to 'Sign up', new_registration_path(resource_name), class: 'right'
                  br
                = f.label :email
                = f.email_field :email, :autofocus => true, class: 'form-control'
              .form-group
                - if devise_mapping.recoverable?
                  = link_to "Forgot password?", new_password_path(resource_name), class: 'right'
                  br
                = f.label :password
                = f.password_field :password, class: 'form-control'
              = f.submit 'Sign in', :class => 'button right btn '
              ' 
              - if devise_mapping.rememberable?
                  = f.check_box :remember_me
                  = f.label :remember_me
