javascript:
  $( document ).ready(function() {
  $( ".delete_image" ).click(function( event ) {
  event.preventDefault();
  link = $(this).closest(".row")
  image_type = $(this).attr("href");
  id = $(this).attr('id');
  link.hide();
  $.ajax({
  type: "GET",
  url: "/admin/delete_image.js",
  data: { image_type: image_type, id: id }
  })
  .done(function(data ) {
  });
  });
  });
= simple_nested_form_for([:admin, @trivia_config]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :url,  :as => :string ,:input_html => {style: "max-width:200px;"}
    = f.input :trivia_number,  :input_html => {style: "max-width:100px;"}
    .well
      -if @trivia_config.presented_image and (@trivia_config.presented_image.url != "/default.png")
        .row
          .col-md-10
              | Current image: #{@trivia_config.presented_image.url}
          .col-md-2
            = link_to "Delete", "presented_image", :id=>"#{@trivia_config.id}", :class=> "btn btn-danger btn-xs delete_image"
      = f.input :presented_image
    .well
      -if @trivia_config.ad_image and (@trivia_config.ad_image.url != "/default.png")
        .row
          .col-md-10
            | Current image: #{@trivia_config.ad_image.url}
          .col-md-2
            = link_to "Delete", "ad_image", :id=>"#{@trivia_config.id}",  :class=> "btn btn-danger btn-xs delete_image"
      = f.input :ad_image
    = f.input :share_message, as: :text,  :input_html => {:rows => 3} 
    h3 
      strong Trivia
    = f.fields_for :trivia do |trivium_form|
      .alert.alert-info
        .row
          .col-md-2
            = trivium_form.input :question_number, as: :integer
          .col-md-3
            = trivium_form.input :title
          .col-md-7
            = trivium_form.input :question
        .row
          .col-md-6   
            = trivium_form.input :answers, as: :text
          .col-md-6
            = trivium_form.input :answer
        = trivium_form.link_to_remove "Remove", :class=>"btn btn-danger btn-sm"
    = f.link_to_add "Add trivium", :trivia, :class=>"btn btn-default btn-sm"
    hr
  .form-actions
    = f.button :submit, "Save", :class=>"btn btn-primary"
