.panel.panel-success
  .panel-heading
    | Editing Config
  .panel-body
    == render 'form'
  .panel-footer
    = link_to 'Show', admin_trivia_config_path(@trivia_config), :class=>"btn btn-default btn-sm"
    '
    = link_to 'Back', admin_trivia_configs_path, :class=>"btn btn-default btn-sm"

