.panel.panel-success
  .panel-heading
    | Quiz Configs
  .panel-body
    table.table.table-striped
      thead
        tr
          th Url
          th Number
          th Trivia Count
          th Share message
          th
          th
          th

      tbody
        - @trivia_configs.each do |trivia_config|
          tr
            td = trivia_config.url
            td = trivia_config.trivia_number
            td = trivia_config.trivia.count
            td = trivia_config.share_message
            td = link_to 'Show', admin_trivia_config_path(trivia_config), :class=>"btn btn-default btn-sm"
            td = link_to 'Edit', edit_admin_trivia_config_path(trivia_config), :class=>"btn btn-primary btn-sm"
            td = link_to 'Destroy', admin_trivia_config_path(trivia_config), data: {:confirm => 'Are you sure?'},
               :method => :delete, :class=>"btn btn-danger btn-sm"

  .panel-footer
    = link_to 'New Config', new_admin_trivia_config_path, :class=>"btn btn-primary btn-sm"
