.panel.panel-success
  .panel-heading
    | Config info
  .panel-body
    .row
      .col-md-6   
        p#notice = notice

        p
          strong Url:
          = @trivia_config.url
        p
          strong Number:
          = @trivia_config.trivia_number
        p
          strong Presented image:
          hr
          -if @trivia_config.presented_image and (@trivia_config.presented_image.url != "/default.png")
            = image_tag @trivia_config.presented_image,  :class=>"img-thumbnail", :style=>"max-height:100px;" 
        p
          strong Ad image:
          hr
          -if @trivia_config.ad_image and (@trivia_config.ad_image.url != "/default.png")
            = image_tag @trivia_config.ad_image,  :class=>"img-thumbnail",:style=>"max-height:100px;"
        p
          strong Share message:
          = @trivia_config.share_message
  .panel-footer
    = link_to 'Edit', edit_admin_trivia_config_path(@trivia_config), :class=>"btn btn-primary btn-sm"
    '
    = link_to 'Back', admin_trivia_configs_path,  :class=>"btn btn-default btn-sm"
