$copy_color: #165964;
$bg_red: #e95f60;

// Bootstrap Media Queries
$xxs-max: 499px;
$xs-min: 500px;
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;

@mixin open_sans {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin alpha_blue {
  background: #0b2734;
  background: rgba(11, 39, 52, 0.5);
}
@mixin alpha_white {
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
}
@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 