@import "compass";
@import "mixins";

html {
  height: 100%;
  min-height: 100%;
}
body {
  @include open_sans;
  font-weight: 300;
  color: $copy_color;
  height: 100%;
  min-height: 100%;
  @media (max-width: $xs-max) {
    background: #204c66 image-url("mobile-background2.jpg") no-repeat top center fixed;
    background-size: 100%;
  }
  @media (min-width: $sm-min) {
    background: #204c66 image-url("full-background.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  &:after {
    content: "";
    width: 55%;
    height: 3px;
    background: $copy_color;
    margin: 20px auto 0;
    display: block;
  }
}
p {
  line-height: 1.5em;
  strong {
    font-weight: 700;
    text-transform: uppercase;

  }
  &.lead {
    @media (max-width: $xxs-max) {
      padding: 1.2em 5%;
    }
    font-size: 1.2em;
    margin: 0;
    padding: 1.3em 20%;
    @include alpha_white;
    @media (min-width: $md-min) {
      @include border-radius (0 0 4px 4px);
    }
  }
  &.help {
    color: #fff;
    font-size: 1.2em;
    margin: 0 0 1em;
    span {
      white-space: nowrap;
    }
  }
}
.btn {
  text-transform: uppercase;
  background: $bg_red;
  font-size: 1.2em;
  letter-spacing: 2px;
  display: block;
  padding: 22px 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  @include border-radius (4px);
  &:hover {
    color: #fff;
  }
}

.results-pane {
  .play-again-btn {
    text-transform: uppercase;
    background: $bg_red;
    font-size: 1.2em;
    letter-spacing: 2px;
    display: block;
    padding: 22px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin: 30px auto;
    @include border-radius (4px);
    &:hover {
      color: #fff;
    }
  }
}

.submit-pane {
  .btn {
    width: 100%;
    outline: none;
    @include transition(background 0.15s ease-in-out);
    &:focus, &:active {
      color: #fff;
      background: #ce2424;
    }
  } 
  .answer {
    @include border-radius(0 0 4px 4px);
  }
} 
#new_answer_group {
  .submit-pane {
    h2 {
      &:after {
        width: 75%;
      }    
    }
  }
}