@import "compass";
@import "mixins";
header {
  @extend main[role="main"];
  @include alpha_blue;
  .logo {
    display: block;
    img {
      width: 60%;
      max-width: 360px;
      padding: 5%;
    }
  }
}
.presented {
  background: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  max-width: $sm-max;
  p {
    margin: 0!important;
  }
  img {
    max-width: 200px;
    max-height: 40px;
  }
}
main[role="main"] {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: $sm-max;
}
.call-to-act {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 5% 5%;
  text-align: center;
  .btn {
    max-width: $sm-max;
  }
}
.pane {
  @extend main[role="main"];
  position: relative;
  text-align: center;
  min-height: 475px;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

/* Answer page top padding */
.results-pane {
  padding-top: 120px;
  padding-bottom: 50px;
  @extend main[role="main"];
  position: relative;
  text-align: center;
  min-height: 475px;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @media (max-width: $xxs-max) {
    padding-top: 50px;
  }
}


.count {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  background: $bg_red;
  line-height: 42px;
  color: #fff;
  font-weight: 700;
  font-size: 1.4em;
  border: 3px solid #fff;
  @include border-radius(50%);
  @include calc(left, "50% - 25px");
}
.trophy {
  position: absolute;
  top: -190px;
  width: 100%;
  height: 200px;
  background: image-url("trophy.png") center bottom no-repeat;
  left: 0;
  background-size: 270px;
  @media (max-width: $xxs-max) {
    background-size: 160px;
  }
}
.box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 85%;
  .question, .answer {
    padding: 15px;
  }
  .question {
    padding-top: 45px;
    @include border-radius(4px 4px 0 0);
    @include alpha_white;
    p {
      font-size: 1em;
      margin: 0 auto 5px;
      width: 85%;
      text-transform: uppercase;
    }
  }
  .answer {
    @include alpha_blue; 
  }
  .previous {
    color: #fff;
    display: block;
    background: #0b2734;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1em;
    @include border-radius(0 0 4px 4px);
    @include transition(all 0.15s ease-in-out);
    &:hover {
      text-decoration: none;
      color: $copy_color;
      @include alpha_white;
    }
  }
  &.boolean {
    .question p {
      //font-size: 1.2em;
    }
    p {
      margin-top: 20px;
    }
    .radio {
      label {
        display: inline-block;
        background: #ea6060;
        text-transform: uppercase;
        color: #fff;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        width: 35%;
        @include transition(background 0.15s ease-in-out);
        &:first-of-type {
          @include border-radius(4px 0 0 4px);
          border-right: 2px solid #f08787;
        }
        &:last-of-type {
          @include border-radius(0 4px 4px 0);
          border-left: 2px solid #f08787;
        }
      }
      input {
        display: none;
        &:checked + label {
          background: #ce2424;
        }
      }
    }
  }
  &.multiplechoice {
    .answer {
      text-align: left;
      overflow: hidden;
    }
    .radio {
      margin: 10px 0 10px 15%;
      overflow: hidden;
      label {
        float: left;
        width: 100%;
        clear: both;
        text-transform: uppercase;
        color: #fff;
        line-height: 30px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        padding: 5px 0 5px 45px;
        &:before {
          content: "";
          width: 30px;
          height: 30px;
          border: 2px solid #fff;
          background: #0b2734;
          position: absolute;
          left: 0;
          @include transition(background 0.15s ease-in-out);
          @include border-radius(50%);
        }
      }
      input {
        display: none;
        &:checked + label:before {
          background: #ea6060;
        }
      }
    }
  }
}
.answer {
  overflow: hidden;
  p {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.results {
  margin-top: 30px;
  @media (max-width: $xxs-max) {
    h2 {
      font-size: 1.4em
    }
  }
  .question {
    padding-top: 1px;
    clear: both;
    @include border-radius(0);
  }
  .question p {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .answer p {
    color: white;
  }
}
.share {
  background: $bg_red;
  @include border-radius(4px 4px 0 0);
  width: 95%;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  display: block;
  margin-bottom: -15px;
  max-width: 400px;
  font-weight: 400;
  @media (max-width: $xxs-max) {
    margin-bottom: -10px;
  }
}
.social {
  list-style-type: none;
  margin: 0 auto;
  max-width: 280px;
  padding: 0;
  li {
    float: left;
    width: 33.33%;
    @include border-radius(4px);
    overflow: hidden;
  }
  a {
    display: block; 
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    @include border-radius(4px);
    text-indent: -9999px;
    @include transition(background 0.15s ease-in-out);
    &.fb {
      background: #3b589a image-url("facebook.png") center center no-repeat;
      //background-size: 30px 30px;
      &:hover {
        background-color: #5674B8;
      }
    }
    &.tw {
      background: #52aaf1 image-url("twitter.png") center center no-repeat;
      //background-size: 30px 30px;
      &:hover {
        background-color: #73BDF8;
      }
    }
    &.sms {
      background: #109fa7 image-url("sms.png") center center no-repeat;
      //background-size: 30px 30px;
      &:hover {
        background-color: #2BB7BE;
      }
    }
  }
}
.ad {
  background: #fff;
  width: 100%;
  min-height: 50px;
  @include border-radius(4px 4px 0 0);
  overflow: hidden;
  float: left;
}


/* fix for mobile device survey page */

@media (max-width: $xxs-max) {
  .box {
    .question, .answer {
      padding: 10px 15px;
    }
    .question {
      padding-top: 25px;
    }
    .previous {
      padding: 10px;
    }
    .count {
      width: 40px;
      height: 40px;
      top: -20px;
      line-height: 32px;
    }
    
    &.multiplechoice {
      .radio {
        margin: 5px 0 5px 5%;
        overflow: hidden;
        label {
          line-height: 25px;
          padding: 3px 0 5px 40px;
          &:before {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}