
.row
  .col-md-6
    = simple_form_for([:admin, @trivium], role: 'form') do |f|
      = f.error_notification

      .form-inputs
        .form-group
          = f.input :title
        .form-group
          = f.input :question_number
        .form-group
          = f.input :url,  :as => :string
        .form-group
          = f.input :question
        .form-group
          .control-group.answers.optional.trivium_answers
            label.string.optional.control-label Answers
            .controls
              = f.text_area :answers
        .form-group
          = f.input :answer

      .form-actions
        = f.button :submit, "Save", :class=>"btn btn-primary "
