.panel.panel-success
  .panel-heading
    | Editing trivium
  .panel-body
    == render 'form'
  .panel-footer
    = link_to 'Show', admin_trivium_path(@trivium), :class=>"btn btn-default btn-sm"
    '
    = link_to 'Back', admin_trivia_path, :class=>"btn btn-default btn-sm"

