.panel.panel-success
  .panel-heading
    | Listing trivia
  .panel-body
    table.table.table-striped
      thead
        tr
          th Title
          th url
          th Number
          th Question
          th Answer
          th
          th
          th

      tbody
        - @trivia.each do |trivium|
          tr
            td = trivium.title
            td = link_to trivium.url, admin_trivium_path(trivium)
            td = trivium.question_number
            td = trivium.question
            td = trivium.answer
            td = link_to 'Show', admin_trivium_path(trivium), :class=>"btn btn-default btn-sm"
            td = link_to 'Edit', edit_admin_trivium_path(trivium), :class=>"btn btn-primary btn-sm"
            td = link_to 'Destroy', admin_trivium_path(trivium), data: {:confirm => 'Are you sure?'}, 
              :method => :delete, :class=>"btn btn-danger btn-sm"

    br
  .panel-footer
    = link_to 'New Trivium', new_admin_trivium_path, :class=>"btn btn-primary btn-sm"
