.panel.panel-success
  .panel-heading
    | Trivium info
  .panel-body
    p#notice = notice

    p
      strong Title:
      = @trivium.title
    p
      strong URL:
      = @trivium.url
    p
      strong Number:
      = @trivium.question_number
    p
      strong Answers:
      = @trivium.answers
    p
      strong Answer:
      = @trivium.answer

  .panel-footer
    = link_to 'Edit', edit_admin_trivium_path(@trivium), :class=>"btn btn-primary btn-sm"
    '
    = link_to 'Back', admin_trivia_path, :class=>"btn btn-default btn-sm"
