doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'InStadium Trivia'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Below you’ll find 10 questions designed to test your knowledge of sports and pop culture.'}"
    link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'
    = favicon_link_tag "favicon.png"
    /== stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" /
    link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet" /

    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" 
    == csrf_meta_tags
    
    /script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    /script type="text/javascript" src="//flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"
    /script type="text/javascript" src="//flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"
    /link rel="image_src" href=image_path('IS_grey_logo.jpg')
  body style="padding-top: 60px;"
    .navbar.navbar-inverse.navbar-fixed-top role="navigation" 
      .container
        .navbar-header
          button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="/admin/results"  InStadium Admin
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li class=('open' if request.env['PATH_INFO'].include? "results")
              a href="#{admin_results_path}"  Results
            li class=('open' if (request.env['PATH_INFO'].include?("trivia") && !request.env['PATH_INFO'].include?("trivia_config")))
              a href="#{admin_trivia_path}"  Trivia
            li class=('open' if request.env['PATH_INFO'].include? "trivia_configs")
              a href="#{admin_trivia_configs_path}"  Trivia Config
          ul.nav.navbar-nav.navbar-right
            - if user_signed_in?  
              li.divider-vertical
                a href=(edit_user_registration_path(:method => :get)) 
                  = current_user.email
              li.divider-vertical
                a data-method="delete" href=destroy_user_session_path 
                  | Logout
    /! /.nav-collapse
    /== render 'layouts/messages'
    .container
      .panel.panel-info
        .panel-heading
          | Statistic
        .panel-body.bg-info
          .col-md-4
            strong 
              | Total Uniq Players: 
              = Result.uniq.pluck(:user_code).size
            br  
            strong
              | Total Played Games: 
              = Result.count
          .col-md-4
            - [1,5,10].each_with_index do |number,index|
              strong
                | Right answers for question #{number}:   
                = number_to_percentage(Result.answer_statistic[index], precision: 0)
                br
          .col-md-4
            strong
             | 
          
      .row
        .col-md-12
          == yield



