doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'InStadium Trivia'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Below you’ll find 10 questions designed to test your knowledge of sports and pop culture.'}"
    link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'
    = favicon_link_tag "favicon.png"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
    script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    script type="text/javascript" src="//flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"
    script type="text/javascript" src="//flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"
    link rel="image_src" href=image_path('IS_grey_logo.jpg')
  body
    == render 'layouts/messages'
    == yield




